<style>
    a{
        display:block;
    }
</style>

<h3>Site da Fatec</h3>
<a href="/formulario_adicionar_usuario">Adicionar Usuario da Fatec</a>
<a href="/historia">História da Fatec</a>
<a href="/cursos">Cursos da Fatec</a>
<a href="/professores">Professores da Fatec</a>
